# Figures
*.png
*.pdf
*.jpg

# Latex files
*.aux
*.log
*.out
*.bbl
*.blg
*.nav
*.snm
*.toc
*.gz
*.fdb_latexmk
*.fls
*.lof
*.lot
*.sta
*.gz
*.gz(busy)
*.bib
absence.bib
*.xdv
*.xwm

# Data files
*.csv
*.dta
*.dbf
*.shp
*.prj
*.shx
*.sbn
*.Rhistory
*.Rapp.history
*.parquet
*.rds
*.Rdata
*.rda
*.xlsx
*.xls

# Microsoft Office Files
*.docx

# Sublime Files
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.zip
*.dropbox
*.sbx
*.ini

# MacOSX system files
*.DS_Store

# Folders:
/data/output/tables/*.tex
/data/output/text/*.tex
/.gtm/
.Rproj.user


# Files to include
!Davies, Emmerich - Absence.pdf
